<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Tone</title>
        <meta name="apple-touch-fullscreen" content="yes"> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link href="/stylesheets/animate.css" rel="stylesheet">
        <link href="/stylesheets/nprogress.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/font.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="container-fluid index-container">
            <div class="row header">
                <div class="col-xs-4 col-sm-6 col-md-6">
                    <section class="logo-container">
                        <div class="logo mad">
                            <img src="/images/tone-mad.png">
                        </div>
                        <div class="logo happy hiden">
                            <img src="/images/tone-happy.png">
                        </div>
                        <div class="logo excited hiden">
                            <img src="/images/tone-excited.png">
                        </div>
                        <div class="logo sad hiden">
                            <img src="/images/tone-sad.png">
                        </div>
                        <div class="logo fear hiden">
                            <img src="/images/tone-fear.png">
                        </div>
                        <div class="logo jealous hiden">
                            <img src="/images/tone-jealous.png">
                        </div>
                        <div class="logo upset hiden">
                            <img src="/images/tone-upset.png">
                        </div>
                        <div class="logo comfort hiden">
                            <img src="/images/tone-comfort.png">
                        </div>
                        <div class="logo surprised hiden">
                            <img src="/images/tone-surprised.png">
                        </div>
                    </section>
                </div>
                <div class="col-xs-8 col-sm-6 col-md-6">
                     <section class="menu-container">
                        <a class="twitter active" href="#"><i class="if if-twitter"></i></a>
                        <a class="me" href="/my-tone"><i class="if if-me"></i></a>
                    </section>
                </div>
            </div>
            <div class="row stream-out-container">
                <div class="col-xs-12 col-sm-6 col-md-6 stream-container">
                    <h3>Tweets from the <span>happy</span>:</h3>
                    <ul class="happy-container"></ul>
                    <ul class="excited-container hide"></ul>
                    <ul class="sad-container hide"></ul>
                    <ul class="mad-container hide"></ul>
                    <ul class="jealous-container hide"></ul>
                    <ul class="upset-container hide"></ul>
                    <ul class="comfortable-container hide"></ul>
                    <ul class="fear-container hide"></ul>
                    <ul class="surprised-container hide"></ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 chart-out-container">
                    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
                        <div class="chart-container text-center">
                            <canvas id="chart-area" width="300" height="300"/>
                        </div>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-md-10 col-md-offset-1 scale-out-container text-center">
                        <div class="scale-container happy">
                            <div class="round happy"></div>Happy:  <span>25%</span>
                        </div>
                        <div class="scale-container excited">
                            <div class="round excited"></div>Excited: <span>10%</span>
                        </div>
                        <div class="scale-container sad">
                            <div class="round sad"></div>Sad: <span>18%</span>
                        </div>
                        <div class="scale-container mad">
                            <div class="round mad"></div>Mad: <span>6%</span>
                        </div>
                        <div class="scale-container jealous">
                            <div class="round jealous"></div>Jealous: <span>8%</span>
                        </div>
                        <div class="scale-container upset">
                            <div class="round upset"></div>Upset: <span>10%</span>
                        </div>
                        <div class="scale-container comfortable">
                            <div class="round comfortable"></div>Relaxed: <span>9%</span>
                        </div>
                         <div class="scale-container fear">
                            <div class="round fear"></div>Fear: <span>8%</span>
                        </div>
                         <div class="scale-container surprised">
                            <div class="round surprised"></div>Amazed: <span>6%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascripts/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/nprogress.js"></script>
        <script src="/javascripts/Chart.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/script.js"></script>
    </body>
</html>