<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Log In to Kernel</title>
        <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<!--        <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">-->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Sofia|Open+Sans:300' rel='stylesheet' type='text/css'>
        <link href="/stylesheets/animate.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/stylesheets/style-landingpage.css">
        <!-- <link rel="icon" href="images/favicon.ico"/> -->

    </head>
    <body class="landing page">
        <header class="background">
            <img class="background-img" src="/images/background.jpg">
            <div class="container">
                <form method="post" role="form" class="login-form col-xs-12  col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" autocomplete="off">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                    </div>
                    <div class="checkbox">
                            <input type="checkbox" value="1" id="checkboxInput" name="">
                            <label for="checkboxInput">Remember me</label>
                    </div>
                    <a class="forgetpassword" href="/account/resent_password">Forget password?</a>
                    <div class="clearfix"></div>
                    <button type="submit" class="loginButton btn btn-default">Log In</button>      
                    <br>
                    <label for="login">or</label>
                    <a href="/signup" class="btn" id="signup">Create an Account</a>
                </form>
            </div>
        </header>
        <section></section>
        
        <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.background-img').css('-webkit-filter','brightness(0.8)');
                $('.login-form').css('display','inline-block');
                $('.signup-form').css('display','none');
                window.setInterval(function(){
                $('.form-group>input').css('visibility','visible');
                $('.form-group>input').addClass('animated fadeInLeft');
                $('.loginButton').css('visibility','visible');
                $('.loginButton').addClass('animated fadeInDown');
                $('.login-form label').css('visibility','visible');
                $('.login-form label').addClass('animated fadeInUp');
                $('.forgetpassword').css('visibility','visible');
                $('.forgetpassword').addClass('animated fadeInUp');
                $('#signup').css('visibility','visible');
                $('#signup').addClass('animated fadeInUp');},400); 
            
                $('.closeButton').click(function(){
                    $('.login-form').addClass('animated fadeOutDown'); 
                    window.setInterval(function(){
                        location.href='/';},500);  
                });    
            });
        </script>
        
    </body>
</html>