<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Tone</title>
        <meta name="apple-touch-fullscreen" content="yes"> 
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link href="/stylesheets/animate.css" rel="stylesheet">
        <link href="/stylesheets/nprogress.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/font.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <section class="contain">
            <div class="container-light">
                <div class="container-fluid">
                    <div class="light-container">
                        <div class="row text-center">
                            <div class="light mad col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                <img src="/images/tone-mad.png">
                            </div>
                            <div class="light happy hiden col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                <img src="/images/tone-happy.png">
                            </div>
                            <div class="light excited hiden col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                <img src="/images/tone-excited.png">
                            </div>
                            <div class="light sad hiden col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                <img src="/images/tone-sad.png">
                            </div>
                            <div class="light fear hiden col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                <img src="/images/tone-fear.png">
                            </div>
                            <div class="light jealous hiden col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                <img src="/images/tone-jealous.png">
                            </div>
                            <div class="light upset hiden col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                <img src="/images/tone-upset.png">
                            </div>
                            <div class="light comfort hiden col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                <img src="/images/tone-comfort.png">
                            </div>
                            <div class="light surprised hiden col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                                <img src="/images/tone-surprised.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-others">
                <div class="container-fluid">
                    <div class="row text-center slogan">
                        <h1>World's mood in Tone</h1>
                    </div>
                    <div class="row text-center sign-login">
                        <button class="success signup">Get started</button>
                        <button class="login">Log in</button>
                    </div>
                    <div class="row signup-form hiden hide">
                        <form action="/signup" method="post" autocomplete="off" class="text-center col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                            <input type="email" name="email" placeholder="Email">
                            <input type="password" name="password" placeholder="Password">
                            <button type="submit" class="success">Sign up</button>
                            <h4>or <a href="#" class="log-in"> Log in</a></h4>
                        </form>
                    </div>
                    <div class="row login-form hiden hide">
                        <form action="/login" method="post" autocomplete="on" class="text-center col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                            <input type="email" name="email" placeholder="Email">
                            <input type="password" name="password" placeholder="Password">
                            <button type="submit" class="success">Log in</button>
                            <h4>or <a href="#" class="sign-up"> Sign up</a></h4>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="contain intro">
            <div class="container-intro">
                <div class="container-fluid">
                    <div class="row">
                        <div class="text-center col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-7">
                            <img src="/images/tessel.png">
                        </div>
                        <div class="text-center col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4 intro-text">
                            <h1 >Tone is an app combined of hardware and softwareusing tessel.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contain intro">
            <div class="container-intro">
                <div class="container-fluid">
                    <div class="row">
                        <div class="text-center col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-2 col-md-4 intro-text hide-when-mobile">
                            <h1 >See the world’s mood by tracking tweets.</h1>
                        </div>
                        <div class="text-center col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-7">
                            <img src="/images/people.png">
                        </div>
                        <div class="text-center col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-4 intro-text hide-when-desk">
                            <h1 >See the world’s mood by tracking tweets.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contain intro">
            <div class="container-intro">
                <div class="container-fluid">
                    <div class="row">
                         <div class="tone-container col-xs-8 col-xs-offset-2 col-sm-7 col-sm-offset-0 col-md-7">
                            <div class="tone mad">
                                <img src="/images/tone-mad1.png">
                            </div>
                            <div class="tone happy hiden">
                                <img src="/images/tone-happy1.png">
                            </div>
                            <div class="tone surprised hiden">
                                <img src="/images/tone-surprised1.png">
                            </div>
                            <div class="tone jealous hiden">
                                <img src="/images/tone-jealous1.png">
                            </div>
                            <div class="tone sad hiden">
                                <img src="/images/tone-sad1.png">
                            </div>
                            <div class="tone comfort hiden">
                                <img src="/images/tone-comfort1.png">
                            </div>
                            <div class="tone excited hiden">
                                <img src="/images/tone-excited1.png">
                            </div>
                            <div class="tone upset hiden">
                                <img src="/images/tone-upset1.png">
                            </div>
                            <div class="tone fear hiden">
                                <img src="/images/tone-fear1.png">
                            </div>
                        </div>
                        <div class="text-center col-xs-12 col-sm-4 col-sm-offset-0 col-md-4">
                            <div class="row text-center sign-login">
                                <button class="success signup">Get started</button>
                                <button class="login">Log in</button>
                            </div>
                            <div class="row signup-form hiden hide">
                                <form action="/signup" method="post" autocomplete="off" class="text-center col-xs-12 col-sm-12 col-md-12">
                                    <input type="email" name="email" placeholder="Email">
                                    <input type="password" name="password" placeholder="Password">
                                    <button type="submit" class="success">Sign up</button>
                                    <h4>or <a href="#" class="log-in"> Log in</a></h4>
                                </form>
                            </div>
                            <div class="row login-form hiden hide">
                                <form action="/login" method="post" autocomplete="on" class="text-center col-xs-12 col-sm-12 col-md-12">
                                    <input type="email" name="email" placeholder="Email">
                                    <input type="password" name="password" placeholder="Password">
                                    <button type="submit" class="success">Log in</button>
                                    <h4>or <a href="#" class="sign-up"> Sign up</a></h4>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/javascripts/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/nprogress.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            $('.signup').click (function () {
                $('.sign-login').addClass("hiden");
                $('.slogan').addClass("hiden");
                window.setTimeout(function(){
                    $('.sign-login').addClass("hide");
                    $('.slogan').addClass("hide");
                    $('.signup-form').removeClass("hide"); 
                }, 1000);
                window.setTimeout(function(){
                    $('.signup-form').removeClass("hiden");
                }, 1100);
            });
            $('.login').click (function () {
                $('.sign-login').addClass("hiden");
                $('.slogan').addClass("hiden");
                window.setTimeout(function(){
                    $('.sign-login').addClass("hide");
                    $('.slogan').addClass("hide");
                    $('.login-form').removeClass("hide"); 
                }, 1000);
                window.setTimeout(function(){
                    $('.login-form').removeClass("hiden");
                }, 1100);
            });
            $('.sign-up').click (function (e) {
                e.preventDefault();
                $('.login-form').addClass("hiden");
                window.setTimeout(function(){
                    $('.login-form').addClass("hide");
                    $('.signup-form').removeClass("hide"); 
                }, 1000);
                window.setTimeout(function(){
                    $('.signup-form').removeClass("hiden");
                }, 1100);
            });
            $('.log-in').click (function (e) {
                e.preventDefault();
                $('.signup-form').addClass("hiden");
                window.setTimeout(function(){
                    $('.signup-form').addClass("hide");
                    $('.login-form').removeClass("hide"); 
                }, 1000);
                window.setTimeout(function(){
                    $('.login-form').removeClass("hiden");
                }, 1100);
            });

            var mood = ['happy', 'excited', 'sad', 'mad', 'jealous', 'upset','comfort',
            'fear', 'surprised'];
            var currentMood = 'mad';
            window.setInterval(function(){
                var lastMood = currentMood;
                $('.'+lastMood).addClass('hiden');
                currentMood = mood[Math.floor((Math.random() * 8))];
                $('.'+currentMood).removeClass('hiden');
            },2000);
        </script>
    </body>
</html>